@font-face {
    font-family:'DMSans';
    src: url('DMSans-Regular.ttf');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family:'DMSans Italic';
    src: url('DMSans-Italic.ttf');
    font-weight:normal;
    font-style: italic;
}

@font-face {
    font-family:'DMSans Medium';
    src: url('DMSans-Medium.ttf');
    font-weight:300;
}

@font-face {
    font-family:'DMSans-Medium Italic';
    src: url('DMSans-MediumItalic.ttf');
    font-weight:300;
    font-style: italic;
}

@font-face {
    font-family:'DMSans Bold';
    src: url('DMSans-Bold.ttf');
    font-weight:500;
    font-style: normal;
}

@font-face {
    font-family:'DMSans Bold Italic';
    src: url('DMSans-BoldItalic.ttf');
    font-weight:500;
    font-style: italic;
}
