@import './../../../styles/global.scss';
.reports {


  .reports__table{
    background:$primary;
    color:$secondary;

  }

  .table-responsive{
    margin: 0 auto 100px auto;
    display: block;
    width: 100%;
    overflow-x: auto;

    .table {
      width: 100%;
      margin-bottom: 1rem;
      color: #212529;
      border-collapse: collapse;
  }

    tr,th,td{
      text-align: center;
      vertical-align: baseline;
      padding: .75rem;
      border-top: 1px solid #dee2e6;
    }

    a{
      font-size: 18px;
      color: #0d0d0d;
      font-family: 'DMSans Bold';
      margin: 50px 0;
      text-decoration:underline;
      display: inline-block;
      margin: 10px;
    }
  }

  .reports__table-anual{
    background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
  }

  .reports__table-t1{
    color:white
  }
.reports__table-a{
  color:$primary;
}
  h5{
    text-align: center;
    margin: 100px auto;
  }
}
