@import './../../../styles/global.scss';
.home-admin{
width: 100%;
max-width: 1170px;
margin: auto;

.half-content{
  align-items: self-start;
}

.button{
  @include for-tablet-landscape-down{
   text-align: center;
   margin: 10px 0;
  }
}

  .home-admin__menu{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      margin: 100px 0 40px 0;
      @include for-tablet-landscape-down{
       flex-direction: column;
      }
  }

  .half-content__left{
    padding-right:15px;

    @include for-tablet-landscape-down{
      padding:10px
    }

  }
  .half-content__right{
    padding-left:15px;
    @include for-tablet-landscape-down{
      padding:10px
    }
  }
  .home-admin__title{
    font-size:22px;
    font-family:DMSans Bold;

    @include for-tablet-landscape-down{
      text-align: center;
     }

  }

  .home-admin__list{
    width:100%;
    display: flex;
    flex-direction:column;

    li{
      background:$secondary;
      color:$primary;
      list-style: none;
      padding:5px 10px;
      margin: 5px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .home-admin__list--desativo{
      p{
        text-decoration: line-through;
         opacity: 0.2;
      }
    }
    .home-admin__list-description{
      font-size: 16px;
      line-height: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px;

      @include for-tablet-landscape-down{
        font-size: 15px;
        line-height: initial;
        display: flex;
        align-items: center;
       }
    }
    .home-admin__list-empty{
      background:$secondary;
      color:$white;
      text-align: center;
      padding:20px;
    }

  }
}
