@font-face {
    font-family: 'Poppins Thin';
    src: url('Poppins-Thin.ttf'); 
    font-weight:100; 
}


@font-face {
    font-family:'Poppins Thin Italic'; 
    src: url('Poppins-ThinItalic.ttf'); 
    font-weight:100; 
    font-style:italic;
}

@font-face {
    font-family:'Poppins Regular';
    src: url('Poppins-Regular.ttf'); 
    font-weight:normal;
    font-style: normal; 
}

@font-face {
    font-family:'Poppins Italic';
    src: url('Poppins-Italic.ttf'); 
    font-weight:normal;
    font-style: italic; 
}

@font-face {
    font-family:'Poppins Medium';
    src: url('Poppins-Medium.ttf'); 
    font-weight:300; 
}

@font-face {
    font-family:'Poppins Medium Italic';
    src: url('Poppins-MediumItalic.ttf'); 
    font-weight:300; 
    font-style: italic; 
}

@font-face {
    font-family:'Poppins Semibold';
    src: url('Poppins-SemiBold.ttf'); 
    font-weight:400; 
    font-style: normal; 
}

@font-face {
    font-family:'Poppins Semibold Italic';
    src: url('Poppins-SemiBoldItalic.ttf'); 
    font-weight:400; 
    font-style: italic; 

}

@font-face {
    font-family:'Poppins Bold';
    src: url('Poppins-Bold.ttf'); 
    font-weight:500; 
    font-style: normal; 
}

@font-face {
    font-family:'Poppins Bold Italic';
    src: url('Poppins-BoldItalic.ttf'); 
    font-weight:500; 
    font-style: italic; 
}

@font-face {
    font-family:'Poppins Black';
    src: url('Poppins-Black.ttf'); 
    font-weight:600; 
    font-style: normal; 
}


@font-face {
    font-family:'Poppins Black Italic';
    src: url('Poppins-BlackItalic.ttf'); 
    font-weight:600; 
    font-style: italic; 
}