// Os resets necessários para fluir melhor o desenvolvimento
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'DMSans';
}

::selection {
  background-color: $primary;
  color: $white;
  text-shadow: none;
}

body {
  font-family: 'DMSans';
  font-weight: normal;
  background:$black;
  color:$white;
  overflow-x: hidden;
}

.space{
  margin-top: 2em;
}

#root {
  width: 100%;

}

@for $i from 1 to 7 {
  h#{$i} {
    font-size: 28px - $i * 3;
    font-family: 'DMSans';
    color: $white;
  }

  @include for-tablet-landscape-up {
    h#{$i} {
      font-size: 28px - $i * 5;
      font-family: 'DMSans';
      color: $white;
    }
  }

}

section {
  max-width: 100%;
  margin: auto;
}

p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 13px;
  color: $white;

  @include for-tablet-landscape-down {
    line-height: 1.7;
  }

}

/*-------bootstrap modifications-----------*/

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), 
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3){
  border-radius: 40px;
}

/*-------bootstrap modifications-----------*/

.exo-gradient{
  background-image: linear-gradient(to right, $primary , $secondary);
  padding: 3px 8px 3px 8px;
  border-radius: 40px;
  border: none;
  width: 100%;
}

.exo-gradient:hover{
  background-image: linear-gradient(to left, $secondary , $secondary);
  cursor: pointer;
  transition: all .2s;
}

.exo-icon{
  float: right;
  margin-right: 1em;
}

.half-content__text--right,
.half-content__text--left {
  max-width: 100%;
  align-self: flex-end;
  padding: 30px;
  margin-top: 50px;

  @include for-tablet-landscape-up {
    max-width: 610px;
    align-self: flex-end;
    padding-right: 70px;
    margin-top: 0;
  }
}

.half-content__text--left {
  align-self: flex-start;
}

.global__col-3 {
  display: flex;
  flex-wrap: wrap;

  div {
    flex-grow: 1;
    width: 33%;
    height: auto;

  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark;
  border-left: 2px solid $night;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $black;
  border-radius: 5px;
  border: 2px solid $night;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $black;
}
