// Os resets necessários para fluir melhor o desenvolvimento
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'DMSans';
}

::selection {
  background-color: $primary;
  color: $white;
  text-shadow: none;
}

body {
  font-family: 'DMSans';
  font-weight: normal;
  background:$black;
  color:$white;
}

#root {
  width: 100%;

}

@for $i from 1 to 7 {
  h#{$i} {
    font-size: 28px - $i * 3;
    font-family: 'DMSans';
    color: $white;
  }

  @include for-tablet-landscape-up {
    h#{$i} {
      font-size: 28px - $i * 5;
      font-family: 'DMSans';
      color: $white;
    }
  }

}

section {
  max-width: 1170px;
  margin: auto;
}

p {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.91;
  letter-spacing: normal;
  color: $white;

  @include for-tablet-landscape-down {
    line-height: 1.7;
  }

}
.exo__btn-primary{
  background:$primary;
  color:$foreground;
  padding:10px;
  font-size:16px;
  width:100%;
  margin:auto;
}

.exo__btn-secundary{
  background:transparent;
  color:$foreground;
  border:1px solid $primary;
  padding:10px;
  font-size:16px;
  width:100%;
  margin:auto;
}

.half-content__text--right,
.half-content__text--left {
  max-width: 100%;
  align-self: flex-end;
  padding: 30px;
  margin-top: 50px;

  @include for-tablet-landscape-up {
    max-width: 610px;
    align-self: flex-end;
    padding-right: 70px;
    margin-top: 0;
  }
}

.half-content__text--left {
  align-self: flex-start;
}

.global__col-3 {
  display: flex;
  flex-wrap: wrap;

  div {
    flex-grow: 1;
    width: 33%;
    height: auto;

  }
}
