
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 899px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@media (max-width: 599px) {
  .col-browser-actions {
    display: none;
  }

  .col-logo{
    display: flex;
    position: absolute;
  }

  .col-search{
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .col-content{
    background: #fc0
  }
}
