// Os resets necessários para fluir melhor o desenvolvimento
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  
}
 
::selection {
	background-color: $primary;  
	color: $secondary;  
	text-shadow: none;
}

body{
    font-family: 'Poppins';
    font-weight: normal;
}
#root{
    width:100%; 
    background-color:#ececec;
} 
 

 h1{
     color:$primary;
     font-size:30px;
 }