// Variables
// --------------------------------------------------
// Cores nomeadas para padronizar, organizar e facilitar a chamada.

$primary:    #FF002F;
$secondary: #070E17;
$foreground: #FFFFFF;
$black:   #03070D;
$dark:    #0F1720;
$night:   #070E17;
$white:   #ffffff;

$gray:#8B8D93;
