// Variables
// --------------------------------------------------
// Cores nomeadas para padronizar, organizar e facilitar a chamada.

$primary:   #6a367a;
$secondary: #f4f4f4;
$gray:      #e7e7e7;
$info:      #c9c9c9;
$dxon:      #979797;
$dark:      #747474;
$menu:      #434652;
$dark:      #3e424d;
$roxa:      #833fff;
$vermelho:  #e4333b;
$vermelhoac:#ff165a;
$verde:     #00b56b;
$verdeAc:   #00eba9;
$danger:    #E71A55;
$white:     #ffffff;

