// Variables
// --------------------------------------------------
// Cores nomeadas para padronizar, organizar e facilitar a chamada.

$primary:    #FF002F;
$secondary: #8800e8;
$foreground: #3b3b3b;
$black:   #242424;
$dark:    #0F1720;
$night:   #070E17;
$white:   #ffffff;

$gray:#8B8D93;
