.main-sidebar{
  background: #333;
  width: 100%;
}

.sidebar-items{
  list-style: none;
  justify-content: left;
  left: 0;
  width: 15%;
  height: 100%;
  position: absolute;
  padding: 10px;
  background: #1a1a1a;
}

.sidebar-item{
  padding: 8px 8px 8px 20px;
  border-radius: 40px;
  width: auto;
}

.sidebar-item:hover{
  background: #292929;
  cursor: pointer;
  transition: all .2s;
}

.sidebar-item a, .sidebar-item a:hover{
  text-decoration: none;
  color: #fff;
}