.explorar{
  margin: auto;
  width: 100%;
  height: 100%; 
  max-width: 1980px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


 .mdc-card__media{
  background-size:contain;
 }
  .explorar__md-card{
   flex: auto;
   margin: 5px;
   width: 100%;
   max-width: 350px;
  }
  .explorar__md-text{
   padding:10px;
   
   h2{

   }
   h3{    margin:0 0 20px 0 ;}
  }
}