@import './../../styles/global.scss';

.footer-admin{
  margin-top:40px;
  padding-bottom:40px;
  text-align: center;

  p{
    font-size:15px;
  }

  .footer-admin__dash{
    margin-bottom:40px;
  }
}
