@import './../../../styles/global.scss';

.novo-jobs{
  section{
    padding: 40px 10px 0 10px;
  }
  .novo-jobs__textarea{
    width:100%;
    margin-bottom: 40px;

    .textarea__element{
      width:100%;
      min-height:300px;
      padding:10px;
      max-height:230px;
    }

  }
  .novo-jobs__input{
    width:40%;
    margin-bottom: 40px;
    @include for-tablet-landscape-down{

      width: 100%;
    }

    input{
      width:100%;
      padding:10px;
    }

  }
  .select__element{
    @include for-tablet-landscape-down{
      width: 100%;
    }
  }
  .button{
    @include for-tablet-landscape-down{
      margin: auto;
      width: 100%;
      text-align: center;
    }
  }

}
