@import '../../styles/theme.scss';

.tab-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark;
    position:fixed;
    bottom:0; 
    
    &__item{
        cursor: pointer ;
        flex-grow: 1; 
        padding:10px; 
        text-align: center;
        color:$dark;
      
    }
    .icon{
        width:100%;
        fill:$dark;
        height:30px
    }
}