@import './../../styles/global.scss';

.footer{
  background:$secondary;
  min-height: 100px;
  padding:20px;

  .footer__dash{
    margin:80px auto 0;
    opacity: 0.2;
  }
 
  p{
    color:$secondary;
    font-size: 18px;
  }

  section{
    max-width:1170px;
  }
 
 

}
