@import './../../styles/global.scss';

.main-header{
  background: #1a1a1a;
  border-bottom: 1px solid #242424;
  padding: 20px 30px 5px 30px;
}

.exo-drop-menu{
  background-image: linear-gradient(to right, $primary , $secondary);
  border: none;
  width: 100%;
}

.exo-drop-item{
  text-align: left;
  color: #fff;
}

.exo-drop-item:hover{
  font-weight: bolder;
  background: transparent;
  color: #fff;
}

.input-main-search{
  background: #272727;
  border: none;
  width: 100%;
  padding: 3px 4px 3px 15px;
}

.button-main-search{
  position: absolute;
  right: 0;
  width: 50px;
  height: 60px;
  z-index: 99;
}