@import './../../../styles/global.scss';
.jobs{
  .dash{
    margin:130px 0 130px 0
  }
  #our-team{

  }
  #jobs-opened{
    margin-bottom: 80px;

    .home__lista-vaga{
      list-style: none;
      width: 100%;
      max-width: 450px;
      margin: auto;
    }
    .home__item-vaga{
      width:100%;
      display: flex;
      flex-direction: column;
      margin:auto auto 50px auto;

      a{
        font-size:28px;
        width:100%;
        font-family: 'DMSans Medium', Helvetica, sans-serif;
        color:$dark;
      }
      span{
        margin-top:5px;
        font-size:22px;
        color:$white;
      }
    }

  }

    h5{
      text-align: center;
      margin: 100px auto;
    }
}
